{% extends 'template.twig' %}

{% block title %}
    Blog professionnel
{% endblock %}

{% block content %}
    <h1>Derniers posts du blog :</h1>
    {% for post in posts %}
        <article class="news">
            <h3>
                {{ post.title }}<br>
                Par {{ post.author }} - 
                <em>dernière modification {{ post.last_update_date|date("d/m/Y H:i:s") }}</em>
            </h3>
                
            <p>
                <strong>{{ post.lead_paragraph|nl2br }}</strong>
                <br>
                <em><a href="index.php/post/post/{{ post.id }}">Voir le post</a></em>
            </p>
        </article>
    {% endfor %}
{% endblock %}