{% extends 'template.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><a href="index.php/post">Retour à la liste des posts</a></p>

    <article class="news">
        <h3>
        	{{ post.title }}<br>
        	Par {{ post.author }} - 
        	<em>date de création {{ post.created_date|date("d/m/Y H:i:s") }}</em> -
            <em>dernière modification {{ post.last_update_date|date("d/m/Y H:i:s") }}</em>
        </h3>
            
        <p>
        	<strong>{{ post.lead_paragraph|nl2br }}</strong>
        	{{ post.content|nl2br }}
        	<br>
        	<em><a href="index.php/post/postForm/{{ post.id }}">Modifier le post</a></em>
    	</p>
    </article>
{% endblock %}