{% extends 'template.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>Mon blog !</h1>
    <p><a href="{{ base_url }}">Retour à la liste des billets</a></p>

    <article class="news">
        <h3>
        	{{ post.title }}<br>
        	Par {{ post.author }} - 
        	<em>dernière modification {{ post.last_update }}</em>
        </h3>
            
        <p>
        	<strong>{{ post.lead_paragraph|nl2br }}</strong>
        	{{ post.content|nl2br }}
        	<br>
        	<em><a href="index.php/post/postForm/{{ post.id }}">Modifier le billet</a></em>
    	</p>
    </article>
{% endblock %}